.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: $black-gray;
    padding: 20px;
    border-radius: 20px;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 250px;
}

.card__title {
   font-size: 28px;
    line-height: 32px;
}

.card__text {
    font-size: 14px;
    line-height: 18px;
}

.card__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__item {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    padding: 0 0 0 34px;
}

.card__item::before {
    content: "✓";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid $brilliant-green;
    border-radius: 100px;
    left: -1px;
    color: $brilliant-green;
    font-size: 14px;
    text-align: center;
}

.card-violet .card__item::before {
    color: $violet;
    border: 1px solid $violet;
}

.card__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 24px;
    border-radius: 100px;
    background: $brilliant-green;
    border: none;
    width: 121px;
}

.card-violet .card__button {
    background-color: $violet;
}