.custom-checkbox__field:checked + .custom-checkbox__label 
.custom-checkbox__icon {
    display: block;
}

.custom-checkbox__label {
    position: relative;
    padding: 0 0 0 30px;
}

.custom-checkbox__label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid $Wet-asphalt-color;
    cursor: pointer;
    border-radius: 3px;
    top: 0;
    left: 0;
}

.custom-checkbox__heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    user-select: none;
}

.custom-checkbox__icon {
    background-color: $color-bright-orange;
    position: absolute;
    left: 3px;
    top: 3px;
    display: none;
}