.header {
    border-bottom: 1px solid $pearlescent-light-gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 86px;
    background-color: $color-black;
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-white;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: transparent;
}

.header__link {
    font-weight: 400;
    font-size: 14px;
    padding: 15px 45px;
    background: $color-bright-orange;
    border-radius: 100px;
}