.portfolio {
    margin: 0 0 80px;
}

.portfolio__title {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 20px;
    color: $color-white;
}

.portfolio__images {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}