/* Thypography */
$ff-notosans: "NotoSans";

/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-bright-orange: #F56402;
$gray-brown: #444444;
$brilliant-green: #4CAF50;
$violet: #B088F7;
$black-gray: #27282A;
$olive-gray: #3f37316e;
$Wet-asphalt-color: #5C5C5C;
$Pearl-dark-gray: #878686;
$pearlescent-light-gray: #9e9e9e8a;
